<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bank Management - Fastapi</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
        <div style="margin-top: 50px;" class="ui container">
            <h1 class="ui center aligned header">ABC Bank </h1>
            <h3 class="ui center aligned header">Transaction Page</h3>


            <form class="ui form" action="/transactions" method="post">


                <div class="field">
                    <label>Sender</label>
                    <input type="email" name="sender" placeholder="Enter Your Email..." required>
                    <br>
                </div>

                <div class="field">
                    <label>Receiver</label>
                    <input type="email" name="receiver" placeholder="Enter Reciever Email..." required>
                    <br>
                </div>

                <div class="field">
                    <label>Amount</label>
                    <input type="number" name="amount" placeholder="Enter Amount..." required>
                    <br>
                </div>
                <button  href = "/transactions" class="ui blue button" type="submit">Complete Transaction</button>
<!--                <a  class="ui center blue button" href="/transactions"><h5>Login</h5></a>-->
<!--                 <a class="ui center blue button" href="/deposits"><h4>Deposit</h4></a>-->

<!--                <br>-->
<!--                <br>-->
<!--                <button href="/deposits" class="ui blue button" type="submit">Signup</button>-->


            </form>

            <hr>

<!--            {% for todo in todo_list %}-->
<!--            <div class="ui segment">-->
<!--                <p class="ui big header">{{ todo.id }} | {{ todo.title }}</p>-->

<!--                {% if todo.complete == False %}-->
<!--                <span class="ui gray label">Not Complete</span>-->
<!--                {% else %}-->
<!--                <span class="ui green label">Complete</span>-->
<!--                {% endif %}-->

<!--                <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>-->
<!--                <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>-->

<!--            </div>-->
<!--            {% endfor %}-->

        </div>


    </body>

</html>
